# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# Entornos virtuales

# =========================

venv/
.env/
.venv/
env/

# =========================

# Variables de entorno

# =========================

.env
.env.*

# =========================

# Archivos de sistema

# =========================

.DS_Store
Thumbs.db

# =========================

# Logs

# =========================

*.log

# =========================

# Jupyter / notebooks

# =========================

.ipynb_checkpoints/

# =========================

# VSCode / IDE

# =========================

.vscode/
.idea/

# =========================

# Archivos temporales

# =========================

*.tmp
*.temp

# =========================

# Coverage / testing

# =========================

.coverage
htmlcov/
